<mat-card class="card" appearance="outlined">
  <div id="card-player-screenshot">
    <mat-card-header>
      <div class="icon-level">
        <img src="{{playerInfo.profileIconId}}" class="icon">
        <div class="level">
          <span class="content">{{playerInfo.summonerLevel}}</span>
        </div>
      </div>
      <div class="name-tag">
        <mat-card-title>{{playerInfo.gameName}}</mat-card-title>
        <mat-card-subtitle>#{{playerInfo.tagLine}}</mat-card-subtitle>
      </div>

      <div class="rank">
        <app-rank *ngFor="let lg of playerInfo.leagues" [league]="lg"></app-rank>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="last-game" [ngClass]="playerInfo.gameStatus">
        <img mat-card-avatar src="{{playerInfo.championName}}" class="image-champion">

        <div class="game-content">
          <div class="details">
            <div class="spells">
              <img src="{{playerInfo.spell1}}" class="icon-spell">
              <img src="{{playerInfo.spell2}}" class="icon-spell">
              <img src="{{playerInfo.ward}}" class="icon-spell">
            </div>

            <span class="kda">{{playerInfo.kills}} / {{playerInfo.deaths}} /
              {{playerInfo.assists}}</span>
          </div>

          <div class="more-info">
            <div class="status-player">
              <span class="status-player-content">CS {{playerInfo.cs}} | </span>
              <span class="status-player-content">KDA {{playerInfo.kda}}</span>
            </div>

            <div class="build-player">
              <img src="{{playerInfo.item0}}" class="build-item">
              <img src="{{playerInfo.item1}}" class="build-item">
              <img src="{{playerInfo.item2}}" class="build-item">
              <img src="{{playerInfo.item3}}" class="build-item">
              <img src="{{playerInfo.item4}}" class="build-item">
              <img src="{{playerInfo.item5}}" class="build-item">
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button mat-stroked-button (click)="screenshot()">Print</button>
  </mat-card-actions>
</mat-card>
