<mat-card class="card" appearance="outlined">
  <div id="card-player">
    <mat-card-header>
      <img mat-card-avatar src="https://cdn.communitydragon.org/14.15.1/profile-icon/7" alt="Icone">
      <mat-card-title>Jow</mat-card-title>
      <mat-card-subtitle>#Nhec</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="last-game">
        <img mat-card-avatar src="https://cdn.communitydragon.org/14.15.1/champion/Annie/square" alt="Campeão"
          class="image-champion">

        <div class="game-content">
          <div class="details">
            <div class="spells">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/spell/SummonerFlash.png" alt="Flash"
                class="icon-spell">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/spell/SummonerDot.png" alt="Ignite"
                class="icon-spell">
            </div>

            <span class="kda">0 / 0 / 0</span>
          </div>

          <div class="more-info">
            <div class="status-player">
              <span class="status-player-content">P/Kill: 100% | </span>
              <span class="status-player-content">CS 200 (10.0) | </span>
              <span class="status-player-content">KDA 10.0:1</span>
            </div>

            <div class="build-player">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/1001.png" alt="Bota"
                class="build-item">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/1001.png" alt="Bota"
                class="build-item">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/1001.png" alt="Bota"
                class="build-item">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/1001.png" alt="Bota"
                class="build-item">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/1001.png" alt="Bota"
                class="build-item">
              <img src="https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/1001.png" alt="Bota"
                class="build-item">
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button mat-stroked-button (click)="screenshot()">Print</button>
  </mat-card-actions>
</mat-card>
